<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QQ space</title>
	<link rel="stylesheet" type="text/css" href="QQ_space.css">
</head>
<body>
	<div class="header">
		<div class="post">
			<p><input type="text"></p>
			<ul class="type">
				<li><a href="javascript:;">表情</a></li>
				<li><a href="javascript:;">图片</a></li>
				<li><a href="javascript:;">音乐</a></li>
				<li><a href="javascript:;">视频</a></li>
				<li><a href="javascript:;">模板</a></li>
				<li><a href="javascript:;">更多</a></li>
			</ul>
			<button>发表</button>
		</div>
		<div class="other-func">
			<p><span>周二</span><img src="star_36X36.png" height="36" width="36"><button>签到</button><span>12</span></p>
			<ul>
				<li><a href="javascript:;">写日志</a></li>
				<li><a href="javascript:;">传照片</a></li>
				<li><a href="javascript:;">发视频</a></li>
			</ul>
		</div>
	</div>
</body>
</html>